<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:include="common/head :: head">
</head>
<body>
<header>
    <h1><img th:src="@{/img/icon.svg}"/></h1>
    <ul>
        <li sec:authentication="name"></li>
    </ul>
</header>

<section>
    <div class="top"></div>

    <div class="main">
        Contributor
        <div th:each="contributor : ${contributors}" th:object="${contributor}">
            Owner : <div th:text="${contributor.author.login}"></div>
            Total Commit : <div th:text="${contributor.total}"></div>
            Weeks : <ul th:each="weeks : ${contributor.weeks}" th:object="${weeks}">
                        <li><span th:text="${weeks.w}"></span></li>
                        <li><span th:text="${weeks.a}"></span></li>
                        <li><span th:text="${weeks.d}"></span></li>
                        <li><span th:text="${weeks.c}"></span></li>
                    </ul>
        </div>
    </div>

    <div class="bottom"></div>
</section>

<footer>
    @2018 dev
    <ul>
        <li>
            <form action="/logout" method="get">
                <input type="submit" value="Logout" />
            </form>
        </li>
    </ul>
</footer>
</body>
</html>