<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="common/head :: head">
</head>
<body>
    <header>
        <h1><img th:src="@{/img/icon.svg}"/></h1>
        <ul sec:authorize="isAnonymous()">
            <a href="/login"><li>Login</li></a>
        </ul>
        <ul sec:authorize="isAuthenticated()">
            <a th:href="@{/{username}(username=${#authentication.name})}" sec:authentication="name"></a>
        </ul>
    </header>

    <section>
        <div class="top"></div>

        <div class="main">
            <div class="error" th:text="${error}"></div>
            dev

            <p>elasticsearch-boshrelease</p>
        </div>

        <div class="bottom"></div>
    </section>

    <footer>
        @2018 dev
    </footer>
</body>
</html>